/* schema */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  margin-top: 72px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

/* general */

@import url('https://fonts.googleapis.com/css?family=Assistant:400,700|Libre+Baskerville:400,400i,700|Nunito:400,700&display=swap');
:root {
  --main-bg-color: #00a5e9;
  --main-contrast-color: #0485B7;
  --secondary-bg-color: #3e4560;
  --secondary-contrast-color: #2d3247;
  --light-gray: #f4f4f4;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}

h1 {
  font-size: calc(2vh + 2vw);
}

h2, h3 {
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: calc(1.5vh + 1.5vw);
}

p, span, a {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.main-line {
  border-top: 4px solid var(--main-bg-color);
}

.social-networks {
  margin-bottom: 1vh;
}

.social-networks a {
  color: white;
  font-size: calc(2.5vh + 2.5vw);
  margin-left: .75rem;
}

.social-networks a:active, .social-networks a:hover {
  color: var(--main-bg-color);
}

/* footer */

footer {
  background-color: var(--main-bg-color);
  padding: 1rem;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

footer span, footer a {
  color: white;
  font-size: large;
}

footer a:active, footer a:hover {
  outline-width: 0;
  color: #e0d6ea;
}

footer .social-networks svg {
  margin-left: .75rem;
}

@media (min-width: 600px) {
  .main-content {
    margin-top: 104px;
  }
  .main-line {
    border-top: 8px solid var(--main-bg-color);
  }
  .social-networks {
    margin-bottom: 0;
  }
}